@import "../bower_components/patternfly/less/patternfly.less";

/* RCUE Styles */
@import "../rcue-less/variables.less";

// Font path
@fa-font-path:      "../bower_components/patternfly/components/font-awesome/fonts/";
@font-path:         "../bower_components/patternfly/dist/fonts";
@icon-font-path:    "../bower_components/patternfly/components/bootstrap/fonts/";

//@font-size-base: 12px;

//
// Blank Slate
// --------------------------------------------------


// #__bs_notify__{
//  display: none!important;
// }

.main{
  @media (min-width: @screen-sm-min) {
    padding: 1px @grid-gutter-width/2;
    margin-left: -@grid-gutter-width;
    .box-shadow(0 1px 1px rgba(0,0,0,.175));
    margin-bottom: 40px;
    background: @card-pf-bg-color;
  }
}
.navbar-brand img{
  margin: 1px 0;
}


.navbar-pf-lg{
  .navbar-brand {
    padding: 12px 0;
  }  
  .navbar-utility {
    > li > a {
      padding-top: 12px;
      padding-bottom: 12px;
    }
    li.dropdown > .dropdown-toggle {
      .pficon-user {
        top: 12px;
      }
    }    
  }  
}



.nav-sidebar{
//  border-right: 1px solid @gray-lighter;
  a{
    display: block;
    span{
//      .pull-right;
      display: inline-block;
      width: 10px;
      margin-right: 10px;
      line-height: 40px;
    }
  &.active{
    background: @gray-lighter;
    color: @link-hover-color;
    }
  }
 
  ul{
    a{
      padding-left: 30px!important;
      line-height: 30px;
    }
    ul a{
      padding-left: 50px!important;
    }
    .nav-header{
      a{
        font-size: @font-size-base;
        span{
          line-height: 30px;
        }
      }
    }
  }
}

.nav-header>a{
//  font-weight: bold;
  line-height: 40px;
  padding: 0 10px !important;
  font-size: @font-size-h4;
}


.page-header{
  margin-top: 30px;
  h2{
    margin-top: 0;
  }
}



.breadcrumb{
  margin-top: 20px;
  margin-bottom: 0;
//  font-size: @font-size-h4;
  border-bottom: 1px solid @gray-lighter;
  padding-bottom: 20px;
}